#lesweken {
  display: grid;
  margin-left: 14rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

#lesweken article a {
  position: relative;
  display: block;
  width: 350px;
  height: 350px;
}

#lesweken article img.poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  box-sizing: border-box;
  border-radius: 10px;
  transition: opacity 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease,
    transform 0.3s ease;
}

#lesweken article img.default {
  opacity: 1;
}

#lesweken article img.hover {
  opacity: 0;
}

#lesweken article a:hover img.default {
  opacity: 0;
}

#lesweken article a:hover img.hover {
  opacity: 1;
  transform: scale(1.1);
}
